<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span style="font-size:40px; font-family: monospace; padding-left: 3cm;">Listado de Películas</span>
                    <button class="btn btn-success float-end" style="transform: translateY(0.3cm) ;" routerLink="/agregar-pelicula">Nueva Película</button>
                    <table class="table table-striped mt-4">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Director</th>
                            <th scope="col">Año</th>
                            <th scope="col">Duración</th>
                            <th scope="col">Presupuesto</th>
                            <th scope="col">          </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td> <i class="fas fa-edit text-primary"></i><i class="fas fa-trash-alt text-danger"></i></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td> 
                            <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash-alt text-danger"></i></td>                           
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash-alt text-danger"></i></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash-alt text-danger"></i></td>
                          </tr>
                          <tr>
                            <th scope="row">5</th>
                            <td>Larry the Bird</td>
                            <td>@twitter</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td><i class="fas fa-edit text-primary"></i><i class="fas fa-trash-alt text-danger"></i></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>