<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card" >
                <div class="card-body text-center">
                    <span style="font-size:40px; font-family: monospace;">Crear producto</span>
                    <hr size="8px" color="black" class="text-primary" />
                    <form class="mt-5">
                        <div class="mb-3">
                          <input type="text" class="form-control" id="name" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="category" placeholder="Categoria">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="director" placeholder="Director">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="anio" placeholder="Año estreno">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="duracion" placeholder="Duracion">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" id="presupuesto" placeholder="Presupuesto">
                        </div>
                        <button type="submit" class="btn btn-success mt-3" >Agregar</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
